<nav>
    <ul>
        <li><a routerLink="">Home</a></li>
        <li class="dropdown">
            Exercices
            <ul class="dropdown-menu">
                <li><a routerLink="/exercice1">1 - Nesting</a></li>
                <li><a routerLink="/exercice2">2 - Text Interpolation</a></li>
                <li><a href="#">Exercice 3</a></li>
                <li><a href="#">Exercice 4</a></li>
            </ul>
        </li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
