<nav>
    <ul>
        <li><a routerLink="">Home</a></li>
        <li class="dropdown">
            Exercices
            <ul class="dropdown-menu">
                <li><a routerLink="/exercice1">1 - Nesting</a></li>
                <li><a routerLink="/exercice2">2 - Text Interpolation</a></li>
                <li><a routerLink="/exercice3">3 - Property Binding</a></li>
                <li><a routerLink="/exercice4">i - Event Binding</a></li>
                <li><a routerLink="/exercice5">ii - Data Binding</a></li>
                <li><a routerLink="/exercice6">4 - Conditionnal rendering</a></li>
                <li><a routerLink="/exercice7">5 - Style dynamique</a></li>
                <li><a routerLink="/exercice8">6 - List Rendering</a></li>
                <li><a routerLink="/exercice9">7 - Directives</a></li>
                <li><a routerLink="/exercice10">8 - Input et Output</a></li>
                <li><a routerLink="/exercice11">9 - API</a></li>
                <li><a routerLink="/TP">TP Component Communication</a></li>
            </ul>
        </li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
