<div class="user-card" [ngStyle]="{ 'background-color': getColor() }">
  <div class="user-details">
    <h2 [ngClass]="oneFriendStyle === 'ON' ? 'amiOn' : 'amiOff'">{{ userName }}</h2>
    <img [src]="userImage" alt="user Image" class="avatar">
    <p><strong>Email :</strong> {{ userEmail }}</p>
    <p><strong>Ville :</strong> {{ userCity }}</p>
    <p><strong>Hobbies :</strong> {{ userHobbies }}</p>
    <p><strong>Âge :</strong> {{ userAge }} {{ getUserAge() }}</p>
    <br>
    <p>{{ getUserHobbies() }}</p>
    <br>
    <span>{{ userHobbies ? 'Ce profil est complet.' : 'Des infos sont manquantes.' }}</span>
  </div>
</div>
